@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 18px;
    font-weight: 400;
    background-color: theme('colors.primary.indigo');
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    position: relative;
    color: theme('colors.text.normal');
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5rem;
    /* background: linear-gradient(180deg, rgba(52,47,41,0.25) 0%, rgba(23,29,68,1) 100%); */
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  main {
    min-height: calc(100vh - 72px);
  }
  
  .container {
    @apply px-4;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  ul li {
    @apply my-1;
  }
  
  
  .background-linear-gradient {
    @apply absolute h-screen left-0 top-0 z-10 w-full;
    background: linear-gradient(180deg, rgba(52,47,41,0.25) 0%, rgba(23,29,68,1) 100%);
    z-index: 10;
  }
  
  section {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    z-index: 100;
  }

  .registration-table thead th, .registration-table tbody td {
    @apply font-medium;
  }

  .registration-table tbody {
    @apply border-y-[1px] border-solid border-primary-orange;
  }
  
  .sponsors-table td, .sponsors-table th, .registration-table td, .registration-table th {
    @apply py-3 px-4 text-left;
  }

  .sponsors-table td:first-child, .registration-table td:first-child {
    @apply w-full text-text-title;
  }
  
  .sponsors-table tr td:not(:first-child), .sponsors-table tr th:not(:first-child), .registration-table tr td:not(:first-child), .registration-table tr th:not(:first-child) {
    min-width: 135px;
  }

  .sponsors-table tr td:not(:first-child), .sponsors-table tr th:not(:first-child) {
    @apply text-center border-r-[1px] border-solid border-[#161c3d];
  }
  
  .sponsors-table thead th:nth-child(2), .sponsors-table tr td:nth-child(2) {
    background-color: #1b1f3e !important;
    box-shadow: none !important;
    border: 1px solid #0E1C30 !important;
  }
  
  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
      @apply bg-primary-indigolight;
  }
  
  @media (max-width: 1023.98px) {
    .sponsors-table tr td:not(:first-child), .sponsors-table tr th:not(:first-child) {
      min-width: 115px;
      @apply text-center border-r-[1px] border-solid border-[#161c3d];
    }
  }
  
  @media (max-width: 767.98px) {
    html {
      font-size: 16px;
    }
  }