---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import KeynoteSpeakerCard from "../components/KeynoteSpeakerCard.astro";
import IndustryInvitedCard from "../components/IndustryInvitedTalk.astro";
import Organiser from "../components/Organiser.astro";
---

<Layout title="ReAQCT 2024">
  <main>
    <section class="mt-[-72px] h-screen relative min-h-screen">
      <div>
        <div class="background-linear-gradient"></div>
        <Image
          src={import("../assets/images/home_background_image.png")}
          alt="Home background Image"
          class="absolute left-0 top-0 h-screen w-full z-0 object-cover"
        />
      </div>
      <div class="container flex flex-col gap-12 px-2 uppercase z-50">
        <div class="flex flex-col gap-4 text-text-title">
          <span class="text-2xl font-medium">Conference on</span>
          <h1
            class="text-left text-4xl font-bold tracking-wider md:text-5xl md:leading-[3rem] xl:text-6xl xl:leading-[4rem]"
          >
            Recent advances in quantum computing and technology
          </h1>
        </div>
        <div class="flex flex-col gap-4 uppercase text-text-title">
          <p class="text-xl font-bold text-primary-orange md:text-2xl">
            June 19-20 | 2024
          </p>
          <div
            class="text-md flex flex-col gap-0 border-l-2 border-solid border-primary-orange px-4 font-semibold md:text-lg"
          >
            <p>Budapest, Hungary</p>
            <p>Bosch Innovation Campus</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration (large)"
        width="1000"
        height="1000"
        class="absolute left-[-5%] top-[50%] z-0 opacity-5"
      />
      <div class="container flex flex-col gap-2">
        <h2 class="text-xl font-bold text-text-title md:text-4xl">
          WELCOME TO <span class="text-primary-orange">ReAQCT 2024</span>
        </h2>
        <p>
          Recent Advances in Quantum Computing and Technology (<span
            class="font-semibold text-primary-orange">ReAQCT</span
          >) is the first in a new series of scientific conferences with the aim
          to bring together scientists and industry experts working in the field
          of quantum computing and quantum technology.
        </p>
      </div>
    </section>
    <section>
      <div class="container relative flex flex-col gap-12">
        <div class="flex w-full flex-col gap-2">
          <h2
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Scope of the conference
          </h2>
          <p>
            <span class="font-semibold text-primary-orange">ReAQCT 2024</span> will
            focus on the following five main topics of quantum computing and technology.
            Additional topics may be included if a sufficient number of high-quality
            presentations are submitted.
          </p>
        </div>
        <div class="flex flex-wrap justify-center gap-4 font-medium">
          <div
            class="my-4 flex min-w-[150px] max-w-[200px] flex-col items-center gap-4 text-center"
          >
            <Image
              src={import(
                "../assets/icons/quantum_algorithms_and_information.png"
              )}
              alt="Quantum Algorithms & Information icon"
              width="40"
              height="40"
            />
            <h4 class="text-sm uppercase leading-normal">
              Quantum Algorithms &amp; Information
            </h4>
          </div>
          <div
            class="my-4 flex min-w-[150px] max-w-[200px] flex-col items-center gap-4 text-center"
          >
            <Image
              src={import("../assets/icons/quantum_error_correction.png")}
              alt="Quantum Algorithms & Information icon"
              width="40"
              height="40"
            />
            <h4 class="text-sm uppercase leading-normal">
              Quantum Error Correction
            </h4>
          </div>
          <div
            class="my-4 flex min-w-[150px] max-w-[200px] flex-col items-center gap-4 text-center"
          >
            <Image
              src={import("../assets/icons/quantum_software_engineering.png")}
              alt="Quantum Algorithms & Information icon"
              width="40"
              height="40"
            />
            <h4 class="text-sm uppercase leading-normal">
              Quantum Software Engineering
            </h4>
          </div>
          <div
            class="my-4 flex min-w-[150px] max-w-[200px] flex-col items-center gap-4 text-center"
          >
            <Image
              src={import("../assets/icons/hpc_and_quantum_computing.png")}
              alt="Quantum Algorithms & Information icon"
              width="40"
              height="40"
            />
            <h4 class="text-sm uppercase leading-normal">
              HPC &amp; Quantum Computing
            </h4>
          </div>
          <div
            class="my-4 flex min-w-[150px] max-w-[200px] flex-col items-center gap-4 text-center"
          >
            <Image
              src={import("../assets/icons/quantum_sensing.png")}
              alt="Quantum Algorithms & Information icon"
              width="40"
              height="40"
            />
            <h4 class="text-sm uppercase leading-normal">Quantum Sensing</h4>
          </div>
        </div>
        <div class="flex flex-col gap-8">
          <div class="flex items-center gap-2">
            <div
              class="hidden shrink-0 grow-0 basis-[150px] flex-col items-center justify-center gap-2 text-sm md:flex"
            >
              <Image
                src={import("../assets/icons/scientific.png")}
                alt="Scientific icon"
                width="40"
                height="40"
              />
              <p>Scientific</p>
            </div>
            <div class="border-l-2 border-solid border-primary-orange pl-4">
              <p>
                Each topic will feature one keynote or invited speaker, along
                with a contributed session consisting of 4-8 talks as well as
                opportunities for poster presentations for the scientific
                community to present and discuss their latest results.
                Contributions can also be published in the peer-reviewed
                proceedings of the conference.
              </p>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <div
              class="hidden shrink-0 grow-0 basis-[150px] flex-col items-center justify-center gap-2 text-sm md:flex"
            >
              <Image
                src={import("../assets/icons/industry.png")}
                alt="Industry icon"
                width="40"
                height="40"
              />
              <p>Industry</p>
            </div>
            <div class="border-l-2 border-solid border-primary-orange pl-4">
              <p>
                Industry participants are also invited to present their most
                recent technical achievements and provide updates on the current
                status and future plans for the industrialisation of quantum
                technologies. Both the industrial research and vendor
                communities are welcome to attend with the possibility to set up
                exhibition booths.
              </p>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <div
              class="hidden shrink-0 grow-0 basis-[150px] flex-col items-center justify-center gap-2 text-sm md:flex"
            >
              <Image
                src={import("../assets/icons/tutorial.png")}
                alt="Tutorial icon"
                width="40"
                height="40"
              />
              <p>Tutorial</p>
            </div>
            <div class="border-l-2 border-solid border-primary-orange pl-4">
              <p>
                In addition to the scientific program, tutorial sessions will be
                organised to assist those who are newcomers to the field with a
                generic scientific or technical background. These sessions will
                help them get started in certain specific domains of quantum
                computing (e.g., the basics of quantum information, or the
                qiskit toolkit for quantum computing, etc.).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="750"
        height="750"
        class="absolute right-[-5%] top-[10%] z-0 opacity-10"
      />
      <div class="container flex flex-col gap-4">
        <h2 class="text-xl font-semibold uppercase text-text-title md:text-2xl">
          Keynote speakers
        </h2>
        <div class="flex flex-col gap-8 xl:gap-4">
          <KeynoteSpeakerCard
            name="Natalia Ares"
            institute="University of Oxford"
            bio="Natalia Ares is an Associate Professor at University of Oxford. She works on experiments aimed to advance quantum technologies, \
              with a focus on artificial intelligence for quantum device control and quantum thermodynamics. During her PhD, she focused on the \
              development of spin qubit devices for quantum computing at CEA Grenoble, France. She completed her undergraduate studies in physics\
              and a master equivalent in the theory of quantum chaos at University of Buenos Aires, Argentina."
          >
            <Image
              src={import("../assets/images/keynote_natalia_ares.jpg")}
              alt="Natalia Ares"
              class="w-[325px] h-[325px] object-cover rounded-md"
            />
          </KeynoteSpeakerCard>

          <KeynoteSpeakerCard
            name="Frank Wilhelm-Mauch"
            institute="Forschungszentrum Jülich"
            bio="Frank Wilhelm-Mauch is the director of Quantum Computational Analytics at Forschungszentrum Jülich, professor of theoretical \
              physics at Saarland University, and the coordinator of the OpenSuperQPlus project within the European Quantum Technology Flagship. \
              After obtaining his PhD in theoretical solid-state physics from the University of Karlsruhe (now KIT), he began to research on quantum \
              computers in 1999 as a postdoctoral researcher at Delft University of Technology in the Netherlands. He completed his habilitation at \
              Ludwig-Maximilians-Universität in Munich in 2004. He was an associate professor at the University of Waterloo, Canada, from 2006. In \
              2011, he returned to Germany to a professorship in theoretical physics at Saarland University, and in 2020 he became the Founding Director \
              of the Institute for Quantum Computational Analytics at the Research Institute Jülich. His field of work is the theory and modeling of \
              quantum computers with superconducting circuits at different levels between devices and applications."
          >
            <Image
              src={import("../assets/images/keynote_frank_wilhelm_mauch.jpg")}
              alt="Frank Wilhelm-Mauch"
              class="w-[325px] h-[325px] object-cover rounded-md"
            />
          </KeynoteSpeakerCard>
        </div>
      </div>
    </section>
    <section>
      <div class="container flex flex-col gap-2">
        <h2 class="text-xl font-semibold uppercase text-text-title md:text-2xl">
          Invited speakers
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
          <div class="flex flex-col gap-1">
            <IndustryInvitedCard
              name="Adam Gali"
              institute="HUN-REN Wigner Research Centre for Physics"
            />
            <IndustryInvitedCard name="Matteo Rossi" institute="Algorithmiq" />
            <IndustryInvitedCard
              name="James Wootton"
              institute="IBM Research Zurich"
            />
          </div>
        </div>
      </div>
    </section>

    <section>
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[15%] z-0 opacity-15"
      />
      <div class="container relative flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <h2
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Location
          </h2>
          <p>
            The conference will be hosted by the{" "}
            <span class="font-semibold text-primary-orange"
              >Robert Bosch Kft.</span
            > at the newly inaugurated Bosch Budapest Innovation Campus, which offers
            an ideal conference venue.
          </p>
        </div>
        <Image
          src={import("../assets/images/bosch_location_2.png")}
          alt="Bosch Campus 2"
          width="2000"
          class="h-auto w-full rounded-sm"
        />
      </div>
    </section>
    <section>
      <div class="container relative flex flex-col gap-8">
        <Image
          src={import("../assets/images/illustration_lg.png")}
          alt="ReAQCT illustration"
          width="400"
          height="400"
          class="absolute left-[-15%] top-[15%] z-0 opacity-15"
        />
        <div class="flex flex-col gap-2">
          <h2
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Organisers
          </h2>
          <p>
            The event is organised in collaboration with Eötvös Loránd
            University (ELTE), Budapest University of Technology and Economics
            (BME), Óbuda University, HUN-REN Wigner Research Centre for Physics
            and HUN-REN Institute for Computer Science and Control (SZTAKI).
          </p>
        </div>
        <div
          class="flex flex-wrap justify-center gap-2 text-center font-semibold leading-[20px] tracking-tight text-primary-indigo md:leading-[24px] md:tracking-normal"
        >
          <Organiser name="Robert Bosch Kft.">
            <Image
              src={import("../assets/logos/bosch.png")}
              alt="Robert Bosch Kft. logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
          <Organiser name="Budapest University of Technology and Economics">
            <Image
              src={import("../assets/logos/bme.png")}
              alt="Budapest University of Technology and Economics logo"
              class="w-[140px] md:w-[150px]"
            />
          </Organiser>
          <Organiser name="Eötvös Loránd University">
            <Image
              src={import("../assets/logos/elte.png")}
              alt="Eötvös Loránd University logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
          <Organiser name="HUN-REN SZTAKI">
            <Image
              src={import("../assets/logos/sztaki.png")}
              alt="HUN-REN SZTAKI logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
          <Organiser name="HUN-REN Wigner Research Centre for Physics">
            <Image
              src={import("../assets/logos/wigner.png")}
              alt="HUN-REN Wigner Research Centre for Physics logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
          <Organiser name="Óbuda University">
            <Image
              src={import("../assets/logos/obuda.jpeg")}
              alt="Óbuda University logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
          <Organiser name="Quantum Information National Laboratory">
            <Image
              src={import("../assets/logos/qnl.png")}
              alt="Quantum Information National Laboratory logo"
              class="w-[140px] md:w-[175px]"
            />
          </Organiser>
        </div>
      </div>
    </section>
  </main>
</Layout>
