---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ReaqctConferenceImages from "../components/ReaqctConferenceImages.jsx";

// Read image files from the directory
import fs from "fs";
import path from "path";
const imagesDirectory = path.resolve("./src/assets/images/conference");
const imageFiles = fs
  .readdirSync(imagesDirectory)
  .map((file) => `./src/assets/images/conference/${file}`);
---

<Layout title="Registration - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col gap-12">
        <div class="flex w-full flex-col gap-4">
          <h1
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Media
          </h1>
          <p>
            The registration to the conference is now open via the online
            registration until <span class="font-semibold text-primary-orange"
              >10 June, 2024</span
            >.
          </p>
        </div>
        <div>
          <ReaqctConferenceImages imagePaths={imageFiles} />
        </div>
      </div>
    </section>
  </main>
</Layout>
