---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submission - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col gap-12">
        <div class="flex w-full flex-col gap-6">
          <h1
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Sponsorship packages
          </h1>
          <p>
            <span class="font-semibold text-primary-orange">ReAQCT 2024</span> will
            provide you with the opportunity to showcase your organization and connect
            with an international quantum community. Please review our sponsorship
            packages below and take advantage of this incredible opportunity!
          </p>
        </div>
        <div>
          <table
            class="table-striped sponsors-table hidden table-auto text-sm md:block"
          >
            <thead>
              <tr>
                <th></th>
                <th>
                  <span class="text-sm uppercase">Sold out</span>
                  <br />
                  <span class="line-through">Platinum</span>
                  <br />
                  <span class="alma text-xs font-semibold">15.000 EUR</span>
                </th>
                <th>
                  Gold
                  <br />
                  <span class="text-xs font-semibold">5.000 EUR</span>
                </th>
                <th>
                  Silver
                  <br />
                  <span class="text-xs font-semibold">2.500 EUR</span>
                </th>
                <th>
                  Bronze
                  <br />
                  <span class="text-xs font-semibold">1.000 EUR</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sponsor logo and URL on the conference website</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>Promotional materials in the conference folder</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>Logo on the press wall in the auditorium</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>Mention in the social media posts</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>Exhibition table in the lobby</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td
                  >Dedicated poster or conference section or tutorial session</td
                >
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Industry session presentation</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td
                  >Complimentary registrations - unlimited number of employees</td
                >
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Complimentary registrations - up to 4 employees</td>
                <td></td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Complimentary registration - up to 2 employee</td>
                <td></td>
                <td></td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Discounted fee for additional participants</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>Acknowledgement as main sponsor</td>
                <td>
                  <div class="flex w-full justify-center">
                    <Icon
                      name="mdi:checkbox-marked-circle-outline"
                      class="text-primary-orange text-xl"
                    />
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="flex flex-col gap-6 md:hidden">
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Sponsor logo and URL on the conference website
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Bronze</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Promotional materials in the conference folder
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Bronze</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Logo on the press wall in the auditorium
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Bronze</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">Mention in the social media posts</h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Bronze</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Discounted fee for additional participants
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Bronze</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">Exhibition table in the lobby</h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Dedicated poster or conference section or tutorial session
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">Industry session presentation</h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Complimentary registration - up to 2 employee
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Silver</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Complimentary registrations - up to 4 employees
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Gold</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">
                Complimentary registrations - unlimited number of employees
              </h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="font-semibold">Acknowledgement as main sponsor</h2>
              <div class="flex flex-col items-start gap-2">
                <div class="flex items-center justify-center gap-2">
                  <Icon
                    name="mdi:checkbox-marked-circle-outline"
                    class="text-primary-orange text-xl"
                  />
                  <p>Platinum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Contact Us
          </h2>
          <p>
            For these sponsorship packages and other customized options, please
            contact us at <span class="font-semibold text-primary-orange"
              >contact@reaqct.org</span
            >.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
