---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submission - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col gap-8">
        <div class="flex w-full flex-col gap-4">
          <h1
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Submission
          </h1>
          <p>
            <span class="font-semibold text-primary-orange">ReAQCT 2024</span>
            is a conference serving as a premier venue for the presentation of high-quality
            original research, innovation, and insights in quantum computing and
            technology. Technical contributions reporting recent advances in these
            fields are eligible for submission through two submission tracks.
          </p>
          <div class="flex flex-col gap-4 mt-2">
            <div>
              <p class="text-text-title font-semibold">Abstract only</p>
              <ul class="list-disc ml-4 md:ml-10">
                <li class="py-0.5">
                  Only a single-page abstract is submitted for oral or poster
                  presentation with reference to the authors’ manuscript or
                  published paper (if any). Please use the
                  <a
                    class="font-medium text-primary-orange underline"
                    href="https://docs.google.com/document/d/1x0HG_z1iQk3OV4Jo9I1NadBMvcGzlsqc/edit?usp=drive_link&ouid=115235549596899931776&rtpof=true&sd=true"
                    target="_blank">Word</a
                  > or
                  <a
                    class="font-medium text-primary-orange underline"
                    href="https://drive.google.com/file/d/1aH-E9S-aZJFx8iwEXVNe7vfKlu8uxuC6/view?usp=drive_link"
                    target="_blank">LaTeX</a
                  > templates for preparing the abstract.
                </li>
                <li class="py-0.5">
                  Acceptance or rejection is decided by the Program Committee.
                </li>
                <li class="py-0.5">
                  Submissions for oral presentations may be rendered to poster
                  presentations by the Program Committee.
                </li>
                <li class="py-0.5">
                  Abstract submission starts on <span
                    class="text-primary-orange
                  font-medium"
                    >05 March, 2024</span
                  >.
                </li>
              </ul>
            </div>
            <div>
              <p class="text-text-title font-medium">Full manuscript</p>
              <ul class="list-disc ml-4 md:ml-10">
                <li class="py-0.5">
                  Full manuscripts will be submitted using
                  <a
                    class="font-medium text-primary-orange underline"
                    target="_blank"
                    href="https://easychair.org/conferences/?conf=reaqct2024"
                  >
                    EasyChair</a
                  >. Please refer to the pages
                  <a
                    class="font-medium text-primary-orange underline"
                    target="_blank"
                    href="https://easychair.org/cfp/reaqct2024"
                  >
                    EasyChair CFP</a
                  > for more details.
                </li>
                <li class="py-0.5">
                  Full manuscripts will undergo a peer-review process
                  coordinated by the Program Committee.
                </li>
                <li class="py-0.5">
                  Upon acceptance, the submitting author is offered to give an
                  oral presentation, and the manuscript is published at the
                  <a
                    class="font-medium text-primary-orange underline"
                    target="_blank"
                    href="https://www.acm.org/publications/icps"
                    >International Conference Proceedings Series (ICPS) of the
                    ACM</a
                  >.
                </li>
                <li class="py-0.5">
                  We recommend preparing the manuscript in LaTeX, using the
                  <a
                    class="font-medium text-primary-orange underline"
                    target="_blank"
                    href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc"
                  >
                    ACM Conference Proceedings Primary Article Template</a
                  >. EasyChair accepts a single pdf file upon submission.
                </li>
                <li class="py-0.5">
                  Full manuscript submission starts on
                  <span class="text-primary-orange font-medium"
                    >05 March, 2024</span
                  >.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Important dates
          </h2>
          <ul class="list-disc ml-4 md:ml-10">
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                <p class="md:min-w-[300px]">Abstract submission:</p>
                <span class="text-primary-orange font-medium"
                  >05 March - 22 April, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                <p class="md:min-w-[300px]">Full manuscript submission:</p>
                <span class="text-primary-orange font-medium"
                  >05 March - 07 April, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                <p class="md:min-w-[300px]">Notification of acceptance:</p>
                <span class="text-primary-orange font-medium">06 May, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                <p class="md:min-w-[300px]">Conference dates:</p>
                <span class="text-primary-orange font-medium"
                  >19-20 June, 2024</span
                >
              </div>
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Contact Us
          </h2>
          <p>
            All questions related to submissions and the peer-review process
            should be sent to
            <span class="font-medium text-primary-orange"
              >contact@reaqct.org</span
            >.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
