---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submission - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col gap-12">
        <div class="flex w-full flex-col gap-6">
          <h1
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Submission
          </h1>
          <p>
            <span class="font-semibold text-primary-orange">ReAQCT 2024</span>
            serves as a conference dedicated to being a premier venue for the presentation
            of high-quality original research, groundbreaking innovations, and compelling
            insights in the domain of quantum computing and technology. Technical
            papers, encompassing a wide range of topics related to the recent advances
            of quantum computing and technology, are peer-reviewed and eligible for
            submission in one of the designated technical paper tracks.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-1">
            <h2 class="text-text-title font-semibold text-lg uppercase">
              Contributions
            </h2>
            <p>ReAQCT 2024 offers two tracks for submitting contributions:</p>
          </div>
          <div>
            <p class="text-text-title font-semibold">Abstract only</p>
            <ul class="list-disc ml-10">
              <li>
                Only a single-page abstract is submitted for oral or poster
                presentation with reference to the authors’ manuscript or
                published paper (if any). Please use the Word or LaTeX templates
                for preparing the abstract.
              </li>
              <li>
                Acceptance or rejection is decided by the Program Committee.
              </li>
              <li>
                Submissions for oral presentations may be rendered to poster
                presentations by the Program Committee.
              </li>
            </ul>
          </div>
          <div>
            <p class="text-text-title font-semibold">Full manuscript</p>
            <ul class="list-disc ml-10">
              <li>
                Full manuscripts should be submitted using
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://easychair.org/account/signin?l=IsWmuxKH1JTDf3yRpwObSJ"
                >
                  EacyChair</a
                >. Please refer to the pages
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://easychair.org/cfp/reaqct2024"
                >
                  EacyChair CFP</a
                > for moredetails.
              </li>
              <li>
                Full manuscripts will undergo a peer-review process coordinated
                by the Program Committee.
              </li>
              <li>
                Upon acceptance, the submitting author is offered to give an
                oral presentation, and the manuscript is published at the
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://www.acm.org/publications/icps"
                  >International Conference Proceedings Series (ICPS) of the ACM</a
                >.
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Important dates
          </h2>
          <ul class="list-disc ml-10">
            <li>
              Paper submission opens: <span
                class="text-primary-orange font-semibold"
                >22 December, 2023</span
              >
            </li>
            <li>
              Paper submission deadline: <span
                class="text-primary-orange font-semibold">22 March, 2024</span
              >
            </li>
            <li>
              Notification of authors Submission Opens: <span
                class="text-primary-orange font-semibold">6 May, 2024</span
              >
            </li>
            <li>
              Conference dates: <span class="text-primary-orange font-semibold"
                >19-20 June, 2024</span
              >
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Contact Us
          </h2>
          <p>
            All questions related to submissions and the peer-review process
            should be addressed to the PC chairs at <span
              class="font-semibold text-primary-orange"
              >tqc2024@easychair.org</span
            >.
          </p>
        </div>
      </div>
      <!--
          <p>
            Please refer to the pages{" "}
            <a
              class="font-semibold text-primary-orange underline"
              href="https://easychair.org/cfp/reaqct2024"
            >
              EacyChair CFP</a
            >{" "}
            and submit your paper using{" "}
            <a
              class="font-semibold text-primary-orange underline"
              href="https://easychair.org/account/signin?l=IsWmuxKH1JTDf3yRpwObSJ"
            >
              easyChair</a
            >.
          </p>
          <p>
            Submission deadline <span class="font-semibold text-primary-orange"
              >March 22, 2024</span
            >.
          </p>
           -->
    </section>
  </main>
</Layout>
