---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Submission - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col gap-12">
        <div class="flex w-full flex-col gap-6">
          <h1
            class="text-xl font-semibold uppercase text-text-title md:text-2xl"
          >
            Submission
          </h1>
          <p>
            <span class="font-semibold text-primary-orange">ReAQCT 2024</span>
            is a conference serving as a premier venue for the presentation of high-quality
            original research, innovation, and insights in quantum computing and
            technology. Technical contributions reporting recent advances in these
            fields are eligible for submission through two submission tracks.
          </p>
          <div>
            <p class="text-text-title font-semibold">Abstract only</p>
            <ul class="list-disc ml-4 md:ml-10">
              <li class="py-0.5">
                Only a single-page abstract is submitted for oral or poster
                presentation with reference to the authors’ manuscript or
                published paper (if any). Please use the Word or LaTeX templates
                for preparing the abstract.
              </li>
              <li class="py-0.5">
                Acceptance or rejection is decided by the Program Committee.
              </li>
              <li class="py-0.5">
                Submissions for oral presentations may be rendered to poster
                presentations by the Program Committee.
              </li>
              <li class="py-0.5">
                Abstract submission starts on <span
                  class="text-primary-orange
                font-semibold"
                  >01 March, 2023</span
                >.
              </li>
            </ul>
          </div>
          <div>
            <p class="text-text-title font-semibold">Full manuscript</p>
            <ul class="list-disc ml-4 md:ml-10">
              <li class="py-0.5">
                Full manuscripts will be submitted using EasyChair.
                <!--
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://easychair.org/account/signin?l=IsWmuxKH1JTDf3yRpwObSJ"
                >
                  EacyChair</a
                >-->
                <!-- 
                Please refer to the pages
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://easychair.org/cfp/reaqct2024"
                >
                  EacyChair CFP</a
                > for more details.-->
              </li>
              <li class="py-0.5">
                Full manuscripts will undergo a peer-review process coordinated
                by the Program Committee.
              </li>
              <li class="py-0.5">
                Upon acceptance, the submitting author is offered to give an
                oral presentation, and the manuscript is published at the
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://www.acm.org/publications/icps"
                  >International Conference Proceedings Series (ICPS) of the ACM</a
                >.
              </li>
              <li class="py-0.5">
                We recommend preparing the manuscript in LaTeX, using the
                <a
                  class="font-semibold text-primary-orange underline"
                  target="_blank"
                  href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc"
                >
                  ACM Conference Proceedings Primary Article Template</a
                >. EasyChair accepts a single pdf file upon submission.
              </li>
              <li class="py-0.5">
                Full manuscript submission starts on
                <span class="text-primary-orange
                font-semibold"
                  >01 March, 2023</span
                >.
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Important dates
          </h2>
          <ul class="list-disc ml-4 md:ml-10">
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Abstract submission opens:
                <span class="text-primary-orange font-semibold"
                  >01 March, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Full manuscript submission opens:
                <span class="text-primary-orange font-semibold"
                  >01 March, 2023</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Full manuscript submission deadline:
                <span class="text-primary-orange font-semibold"
                  >22 March, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Abstract submission deadline:
                <span class="text-primary-orange font-semibold"
                  >22 April, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Notification of acceptance:
                <span class="text-primary-orange font-semibold"
                  >06 May, 2024</span
                >
              </div>
            </li>
            <li class="mb-3 md:mb-0">
              <div class="flex flex-col md:flex-row gap-1">
                Conference dates:
                <span class="text-primary-orange font-semibold"
                  >19-20 June, 2024</span
                >
              </div>
            </li>
          </ul>
        </div>
        <div class="flex flex-col gap-1">
          <h2 class="text-text-title font-semibold text-lg uppercase">
            Contact Us
          </h2>
          <p>
            All questions related to submissions and the peer-review process
            should be sent to
            <span class="font-semibold text-primary-orange"
              >contact@reaqct.org</span
            >.
          </p>
        </div>
      </div>
      <!--
          <p>
            Please refer to the pages{" "}
            <a
              class="font-semibold text-primary-orange underline"
              href="https://easychair.org/cfp/reaqct2024"
            >
              EacyChair CFP</a
            >{" "}
            and submit your paper using{" "}
            <a
              class="font-semibold text-primary-orange underline"
              href="https://easychair.org/account/signin?l=IsWmuxKH1JTDf3yRpwObSJ"
            >
              easyChair</a
            >.
          </p>
          <p>
            Submission deadline <span class="font-semibold text-primary-orange"
              >March 22, 2024</span
            >.
          </p>
           -->
    </section>
  </main>
</Layout>
