---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import LayoutAbstractSubmit from "../layouts/LayoutAbstractSubmit.astro";
import AbstractSubmissionForm from "../components/AbstractSubmissionForm.jsx";
---

<LayoutAbstractSubmit title="Abstract Upload - ReAQCT 2024">
  <main>
    <section class="pt-12">
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="650"
        height="650"
        class="absolute right-[-5%] top-[5%] z-0 opacity-10"
      />
      <Image
        src={import("../assets/images/illustration_lg.png")}
        alt="ReAQCT illustration"
        width="400"
        height="400"
        class="absolute left-[5%] top-[50%] z-0 opacity-10"
      />
      <div class="container relative flex flex-col items-center">
        <div class="w-full lg:max-w-[650px] flex flex-col gap-10">
          <div class="relative left-0 xl:absolute xl:left-24">
            <a href="/" class="flex items-center gap-2">
              <Icon
                name="mdi:chevron-left"
                class="text-primary-orange text-3xl w-8 h-8 bg-white rounded-full bg-opacity-5"
              />
              <p>Back</p>
            </a>
          </div>
          <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-2">
              <h1 class="text-xl font-semibold text-text-title">
                Abstract submission
              </h1>
              <div class="text-justify text-sm">
                Only a single-page abstract is to be submitted for oral or
                poster presentation with reference to the authors’ manuscript or
                published paper (if any). Please use the
                <a
                  class="font-medium text-primary-orange underline"
                  href="https://docs.google.com/document/d/1x0HG_z1iQk3OV4Jo9I1NadBMvcGzlsqc/edit?usp=drive_link&ouid=115235549596899931776&rtpof=true&sd=true"
                  target="_blank">Word</a
                > or
                <a
                  class="font-medium text-primary-orange underline"
                  href="https://drive.google.com/file/d/1aH-E9S-aZJFx8iwEXVNe7vfKlu8uxuC6/view?usp=drive_link"
                  target="_blank">LaTeX</a
                > templates for preparing the abstract.
              </div>
            </div>

            <AbstractSubmissionForm client:load />
          </div>
        </div>
      </div>
    </section>
  </main>
</LayoutAbstractSubmit>
