---
interface Props {
  name: string;
  institute: string;
}

const { name, institute } = Astro.props;
---

<div
  class="relative flex flex-col gap-1 rounded-sm py-1 pl-2 hover:bg-white/[.01]"
>
  <div class="absolute left-0 top-[15%] h-[70%] w-[1px] bg-primary-orange">
  </div>
  <h3 class="font-semibold text-text-title">{name}</h3>
  <h4 class="text-sm">{institute}</h4>
</div>
