---
import { Image } from "astro:assets";
const currentPath = new URL(Astro.request.url).pathname;
---

<header class="relative z-[500] flex h-[72px]">
  <div class="container mx-auto flex justify-between px-2 text-sm">
    <div class="flex items-center gap-4 text-text-title">
      <Image
        src={import("../assets/logos/logo_v1.png")}
        alt="ReAQCT logo"
        width="35"
        height="25"
      />
      <a href="/" class="font-bold">ReAQCT 2024</a>
    </div>
    <label
      class="relative z-40 cursor-pointer px-3 py-6 md:hidden flex items-center justify-center"
      for="mobile-menu"
    >
      <input class="peer hidden" type="checkbox" id="mobile-menu" />
      <div
        class="relative z-50 block h-[1px] w-7 bg-white bg-transparent content-[''] before:absolute before:top-[-0.45rem] before:z-50 before:block before:h-full before:w-full before:bg-white before:transition-all before:duration-200 before:ease-out before:content-[''] after:absolute after:right-0 after:bottom-[-0.45rem] after:block after:h-full after:w-full after:bg-white after:transition-all after:duration-200 after:ease-out after:content-[''] peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform"
      >
      </div>
      <div
        class="fixed inset-0 z-40 hidden h-full w-full bg-black/50 backdrop-blur-sm peer-checked:block"
      >
        &nbsp;
      </div>
      <div
        class="fixed top-0 right-0 z-40 h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0"
      >
        <div
          class="float-right min-h-full w-[85%] bg-primary-indigo px-6 pt-12 shadow-2xl"
        >
          <menu>
            <div class="flex gap-2 mb-8">
              <Image
                src={import("../assets/logos/logo_v1.png")}
                alt="ReAQCT logo"
                width="25"
                height="15"
              />
              <a href="/" class="font-bold">ReAQCT 2024</a>
            </div>
            <li class="my-3">
              <a
                href="/"
                class={currentPath === "/"
                  ? "font-semibold text-primary-orange"
                  : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
              >
                Home
              </a>
            </li>
            <li class="my-3">
              <a
                href="/sponsors"
                class={currentPath.startsWith("/sponsors")
                  ? "font-semibold text-primary-orange"
                  : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
              >
                Sponsors
              </a>
            </li>
            <li class="my-3">
              <a
                href="/committees"
                class={currentPath.startsWith("/committees")
                  ? "font-semibold text-primary-orange"
                  : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
              >
                Committees
              </a>
            </li>
            <li class="my-3">
              <a
                href="/submission"
                class={currentPath.startsWith("/submission")
                  ? "font-semibold text-primary-orange"
                  : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
              >
                Submission
              </a>
            </li>
            <li class="my-3">
              <a
                href="/registration"
                class={currentPath.startsWith("/registration")
                  ? "font-semibold text-primary-orange"
                  : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
              >
                Registration
              </a>
            </li>
          </menu>
        </div>
      </div>
    </label>
    <div class="hidden items-center gap-4 font-medium md:flex xl:gap-6">
      <div class="flex gap-4 text-text-normal xl:gap-6">
        <a
          href="/"
          class={currentPath === "/"
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Home
        </a>
        {
          /*
          <a class="hover:text-primary-orange active:text-primary-orange" href="/program">
            Program
          </a>
          */
        }
        <a
          href="/sponsors"
          class={currentPath.startsWith("/sponsors")
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Sponsors
        </a>
        <a
          href="/committees"
          class={currentPath.startsWith("/committees")
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Committees
        </a>
        <a
          href="/submission"
          class={currentPath.startsWith("/submission")
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Submission
        </a>
        <a
          href="/registration"
          class={currentPath.startsWith("/registration")
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Registration
        </a>
        {
          /*
          <a
            href="/news"
            class={currentPath.startsWith("/news")
              ? "font-semibold text-primary-orange"
              : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
          >
            News
          </a>
          */
        }
        {
          /*
          <a class="hover:text-primary-orange active:text-primary-orange" href="/about">
            About
          </a>
          */
        }
      </div>
    </div>
  </div>
</header>
