---
import { Image } from "astro:assets";
const currentPath = new URL(Astro.request.url).pathname;
---

<header class="relative z-[500] flex h-[72px]">
  <div class="container mx-auto flex justify-between px-2 text-sm">
    <div class="flex items-center gap-4 text-text-title">
      <Image
        src={import("../assets/logos/logo_v1.png")}
        alt="ReAQCT logo"
        width="35"
        height="25"
      />
      <a href="/" class="font-bold">REAQCT 2024</a>
    </div>
    <div class="hidden items-center gap-4 font-medium md:flex xl:gap-6">
      <div class="flex gap-4 text-text-normal xl:gap-6">
        <a
          href="/"
          class={currentPath === "/"
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Home
        </a>
        {
          /*
          <a class="hover:text-primary-orange active:text-primary-orange" href="/program">
            Program
          </a>
          */
        }
        <a
          href="/sponsors"
          class={currentPath === "/sponsors"
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Sponsors
        </a>
        <a
          href="/committees"
          class={currentPath === "/committees"
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Committees
        </a>
        <a
          href="/submission"
          class={currentPath === "/submission"
            ? "font-semibold text-primary-orange"
            : "text-text-normal hover:text-primary-orange active:text-primary-orange"}
        >
          Submission
        </a>
        {
          /*
          <a class="hover:text-primary-orange active:text-primary-orange" href="/about">
            About
          </a>
          */
        }
      </div>
    </div>
  </div>
</header>
